#pointer{
    cursor:pointer;
}
img{
    border-radius: 20px;
}
.btn{
    background-color: rgb(4, 154, 165);
    color:white;

}
.sec{
    margin-top: 170px;
}
.volume{
    width:30%;
    border-radius: 5px;
    background-color: rgb(9, 54, 59);
    box-shadow: 3px 3px 2px black;
}
.btn:hover{
    background-color: rgb(1, 11, 12);
}
.btn:active{
    background-color: black;
}