.title{
    font-family: 'Bona Nova', serif;
}
#pointer{
    cursor:pointer;
}
#pointer:hover{
    background-color: rgb(47, 103, 105);
}
#pointer.active{
    background-color:rgb(33, 78, 80) ;
}
img{
    border-radius: 20px;
}
.btn{
    background-color: #133036;
    color:white;
    transition: transform 0.3s;
}
.btn1{
    background-color:#0F292f;
    color:white;
    box-shadow:3px 3px 3px rgb(8, 8, 8);
}
.seekbar{
    border-radius: 5px;
    background-color: #202224;
    box-shadow: 3px 3px 2px black;
}
.btn:hover{
    background-color: rgb(35, 79, 92);
    transform: scale(1.1);
}
.btn:active{
    background-color: rgb(10, 47, 49);
}
.inp{
    width:80%;
}
.inp1{
    width:70%;
}
th{
    font-size:16px
}
td{
    font-size: 15px;
}
span{
    color:white;
}
.icon{
    cursor:pointer;
}
input[type=range]{
    height:3px;
}
input[type=range]::-webkit-slider-runnable-track{
    color:rgb(248, 124, 145);
}
.hide{
    display:none;
}
.mydiv:hover + .hide{
    display:inline;
}

