.cover{
    border-radius: 20px;
}
.title{
    font-family: 'Bona Nova', serif;
    font-size: 27px;
}
.artists{
    border-radius: 70px;
}
.btn{
    background-color: #133036;
    color:white;
    transition: transform 0.3s;
}
.btn:hover{
    background-color: rgb(35, 79, 92);
    transform: scale(1.1);
}
p{
    font-size:20px;
    line-height:0%;
}
input[type=range]{
    height:3px;
}
.id{
    font-size: 40px;
}
.seekbar{
    border-radius: 5px;
    background-color: #202224;
    box-shadow: 3px 3px 2px black;
}
.inp{
    width:80%
}