.part1{
    padding: 70px;
    background-color: rgb(193, 190, 216);
}
.part2{
    padding: 70px;
    background-color: rgb(81, 85, 83);
}
.part3{
    padding: 70px;
    background-color: rgb(176, 210, 212);
}