<div class="part1 text-center">
    <img src="https://freesvg.org/storage/img/thumb/download-package.png" alt="" class="animate_animated animate_slideInDown">
    <h2>Download Musivibez now!</h2>
    <h5>Listen to the unlimited music now on musivibez</h5>
</div>
<div class="part2 text-center text-white">
   <h3>Life seems to go on without effort when we are filled with music</h3>
   <h5>So live in the music with MUSIVIBEZ!</h5>
   <hr>
   <p>Download now on</p>
   <img src="https://www-growth.scdn.co/static/badges/apple/en.png" alt="">
   <img src="https://www-growth.scdn.co/static/badges/google/en.png" alt="">
   <img src="https://www-growth.scdn.co/static/badges/microsoft-windows/en.png" alt="">
</div>
<div class="part3 text-center">
   <img src="https://cdn2.scratch.mit.edu/get_image/gallery/26132279_170x100.png" alt="" >
   <p> Create your own account in MUSIVIBEZ</p>
       <h5>SIGNUP NOW </h5>
       <a href="./signup">Signup</a>
</div>