<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container-fluid">
    <a class="navbar-brand text-white me-1" href="#">
      <img src="https://t3.ftcdn.net/jpg/03/91/69/12/360_F_391691273_pU6ADe9mgUFnDSbsTIoFNTQYuQOCqwrW.jpg" width="60px" height="60px"> 
      <a href="#" class="brand"><h2 class="text-white d-inline me-5 pt-2">MusiVibez</h2></a>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="albums" routerLinkActive="active">Albums</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="favourites" routerLinkActive="active">Favourites</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="signup" routerLinkActive="active">Account</a>
        </li>

      </ul>
      <!--<form class="d-flex">
        <label for="s1">
          <h1 class="icon me-3"><i class="fas fa-search m1"></i></h1></label>

        <input type="search" name="" id="s1" class=" form-control me-5 " id=inp placeholder="Search Movie " width=250px>

      </form>-->
    </div>
  </div>
</nav>

<!--nest products component-->
<div>
  <router-outlet></router-outlet>
</div>
