.navbar{
    background-color: rgb(5, 11, 32);
}
.brand{
    font-weight: bold;
    font-family: 'Lobster Two', cursive;
    text-decoration: none;
}
h2{
    font-size: 25px;
}
.nav-link{
    font-size: 18px;
    margin-right: 20px;
    color:rgb(35, 157, 179) !important;
}
span{
    background-color: white !important;
}
.active{
    border-radius: 20px;
    font-size: 19px;
    font-weight:bold;
    border-radius: 0px;
    border-bottom: 2px solid white;
}
.icon{
    width:50%;
    color:white;
}
