.navbar{
    background-color: rgb(12, 24, 66);
}
.navbar-brand{
    font-weight: bold;
    text-decoration: none;
}
h3{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.nav-link{
    font-size: 17px;
    margin-right: 20px;
    color:#E3E2Df !important;
}

span{
    background-color: white !important;
    border-radius: 5px;
}
.active{
    font-weight:bold;
    border-radius: 0px;
    border-bottom: 2px solid white;
}
.icon{
    width:50%;
    color:white;
}

@media screen and (max-width:450px){
    .navbar-brand{
        font-size:20px;
    }
}