<nav class="navbar navbar-expand-lg navbar-light pt-3 pb-3">
  <div class="container-fluid">
    <a class="navbar-brand text-white me-5" href="#">
      <img src='https://t3.ftcdn.net/jpg/03/77/61/76/360_F_377617662_lJZXoFq0W1OUP4tsnfdFhsNcSG6msfYT.jpg' width="100px" height="60px">
        MusiVibez
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="movies" routerLinkActive="active">Movies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="signup" routerLinkActive="active">Sign up</a>
        </li>

      </ul>
      <form class="d-flex">
        <label for="s1">
          <h1 class="icon me-3"><i class="fas fa-search m1"></i></h1></label>

        <input type="search" name="" id="s1" class=" form-control me-5 " id=inp placeholder="Search Movie " width=250px>

      </form>
    </div>
  </div>
</nav>

<!--nest products component-->
<div>
  <router-outlet></router-outlet>
</div>
