.title{
    font-family: 'Bona Nova', serif;
    font-size: 27px;
}
#pointer{
    cursor:pointer;
}
#pointer:hover{
    background-color: rgb(47, 48, 105);
}
#pointer.active{
    background-color:rgb(33, 48, 80) ;
}
img{
    border-radius: 20px;
}
.btn{
    background-color: #18315f;
    color:white;
    transition: transform 0.3s;
}
.btn:hover{
    background-color: #120e3f;
    transform: scale(1.05);
}
.seekbar{
    border-radius: 5px;
    background-color: #202224;
    box-shadow: 3px 3px 2px black;
}
.inp{
    width:80%;
}
.inp1{
    width:70%;
}
th{
    font-size:16px
}
td{
    font-size: 15px;
}
span{
    color:white;
}
.icon{
    cursor:pointer;
}
input[type=range]{
    height:3px;
}

.hide{
    display:none;
}
.mydiv:hover + .hide{
    display:inline;
}


@media screen and (max-width:450px){
    .inp1{
        width:50%;
    }
    img{
        height:180px;
        margin-left: 10px;
    }
    .right{
        margin-left: 10px;
    }
}